{%extends 'base.html'%}
{%block title%} List {%endblock%}
{%block intro%} List of appointments {%endblock%}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/">List</a>
      <a class="dropdown-item" href="/patient/create_form.html">Create</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li>
  {%endblock%}